<a href="https://colab.research.google.com/github/mayankvartak/PYTHONLAB/blob/main/exp01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Strings in Python
a = 'This is a string'
print (a)
b = "This is a string"
print (b)
c= '''This is also
a string'''
print (c)

This is a string
This is a string
This is also
a string

In [ ]:
L = [1, "a" , "string" , 1+2,1.0]
print (L)
L.append(6)
L.append("mayank")
print (L)
print (L[1])
print (L[6])
del L[6]
print (L)

[1, 'a', 'string', 3, 1.0]
[1, 'a', 'string', 3, 1.0, 6, 'mayank']
a
mayank
[1, 'a', 'string', 3, 1.0, 6]

In [ ]:
tup = (1, "a", "string", 1+2)
print(tup)
tup1=(5,)
print(tup1)
print(tup[1])
combined_tup = tup1 + tup
print(combined_tup)
repeated = tup * 3
print (repeated)
print(2 in tup)

(1, 'a', 'string', 3)
(5,)
a
(5, 1, 'a', 'string', 3)
(1, 'a', 'string', 3, 1, 'a', 'string', 3, 1, 'a', 'string', 3)
False
(1, 'a', 'string', 3)

In [ ]:
d = {1: 'mayank', 2: 'Bhuvanesh', 3: 'Vartak'}
print(d)
d2 = dict(a = "House", b = "of", c = "Cards")
print(d2)
print(d[1])
d["year"]= 2005
print(d)
d[4] = "year"
print(d[4])
del d[2]
print(d)

{1: 'mayank', 2: 'Bhuvanesh', 3: 'Vartak'}
{'a': 'House', 'b': 'of', 'c': 'Cards'}
mayank
{1: 'mayank', 2: 'Bhuvanesh', 3: 'Vartak', 'year': 2005}
year
{1: 'mayank', 3: 'Vartak', 'year': 2005, 4: 'year'}